* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.DltPin {
  height: 100vh;
  width: 100%;
  background: conic-gradient(
    from -45deg,
    rgb(90, 238, 252),
    rgb(83, 134, 254),
    rgb(191, 0, 255),
    rgb(255, 187, 90),
    rgb(90, 238, 252)
  );
}

/* https://css.glass/ */
